<div id="SOHUCS" sid="<%=key%>" ></div> 
<script charset="utf-8" type="text/javascript" src="//changyan.sohu.com/upload/changyan.js" ></script>
<style type="text/css">
	#feedAv{
	margin-top: -250px!important;
	transform: scale(0);
}
</style>
<script type="text/javascript">
    window.changyan.api.config({
        appid: "<%=theme.changyan_appid%>",
        conf: "<%=theme.changyan_conf%>"
    });
</script>
</script>
