<div id="vcomment" class="comment"></div> 
<script src="/valine.js"></script>
<script>
    window.onload = function() {
        new Valine({
            el: '.comment',
            verify: true,
            server: "<%= theme.valine.server %>",
            placeholder: "<%= theme.valine.placeholder %>",
            avatar:"<%= theme.valine.avatar %>"
        });
    }
</script>
