<footer id="footer">
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-left">
    		&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
    	</div>
      	<div class="footer-right">
      		备案号 <a href="http://icp.chinaz.com/blog.mythsman.com" target="_blank">苏ICP备15055270号-1</a>
      	</div>
    </div>
  </div>
</footer>
