<footer id="footer">
  <div class="outer">
    <div id="footer-info">
      	<div class="footer-left">
			<span class="post-count">全站字数 <%= totalcount(site) %></span>
			|
      		<span >备案号 苏ICP备15055270号-1</span>
      	</div>
    	<div class="footer-right">
    		&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
    	</div>
    </div>
  </div>
</footer>
